<?xml version="1.0" encoding="utf-8"?>
<Configuration packages="com.github.zachdeibert.ccjavaturtles">
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] %msg%n" />
		</Console>
		<RollingRandomAccessFile name="LogFile" fileName="latest.log" filePattern="logs/%d{yyyy.MM.dd-HH:MM:ss}.log.gz">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level/%logger] %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
		<Turtle name="Turtle">
			<PatternLayout pattern="[%level] %msg%n" />
		</Turtle>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console" level="debug" />
			<AppenderRef ref="LogFile" level="trace" />
		</Root>
		<Logger name="com.github.zachdeibert.ccjavaturtles.turtles" level="all" additivity="true">
			<AppenderRef ref="Turtle" level="debug" />
		</Logger>
	</Loggers>
</Configuration>
